<%- include("partials/header"); -%>
  <style media="screen">
    .card{
      color:black;
      padding:0;
    }
    body{
      text-align: center;
    }
    #heading-section{
      border-radius: 0 !important;
      height: 1200px;
    }
    .card{
      margin: 0 auto;
      height: 650px;
      width:350px !important;
      border-radius:40px;
    }
    .cardbtn{
      margin: 20px auto;
    }
    h3{
      margin-bottom: 90px;
    }
    .fa-check{
      color: green;
    }
    .fa-xmark{
      color: red;
    }
    .fas{
      margin-right: 5px;
    }
    .freebtn{
      margin-top:10px;
    }
    .pricing-subheading{
      color:#CBC3E3;
    }
    .features{
      display:none;
    }
  </style>



      <h1>There's a plan for you.</h1>
      <h3 class="pricing-subheading">You can share your ideas on Blogr.</h3>
      <div class="row">
        <div class="card col-md-4 col-sm-6 col-12 card1" style="width: 18rem;">
              <div class="card-header">
                  <h1 class="card-title">Personal</h1>
                  <h5 class="card-text">Best for Personal Use</h5>
              </div>
              <div class="card-body">
                <h1 class="card-title">Free</h1>
                <a href="/"><button type="button" name="button" class="btn btn-outline-dark cardbtn freebtn">Start with Personal</button></a>
                <p card="card-text"><i class="fas fa-check"></i>Remove Blogr.com Ads</p>
                <p card="card-text"><i class="fas fa-check"></i>Unlimited Email Support</p>
                <p card="card-text"><i class="fas fa-check"></i>Live Chat Support</p>
                <p card="card-text"><i class="fas fa-xmark"></i>Google analytics integration</p>
                <p card="card-text"><i class="fas fa-xmark"></i>Earn ad revenue</p>
                <p card="card-text"><i class="fas fa-xmark"></i>Premium themes</p>
                <p card="card-text"><i class="fas fa-xmark"></i>Advanced SEO</p>
                <p card="card-text"><i class="fas fa-xmark"></i>Jetpack Backup: automated backups & one-click restores</p>
              </div>
        </div>
  <div class="card col-md-4 col-sm-6 col-12 card2" style="width: 18rem;">
    <div class="card-header">
        <h1 class="card-title">Premium</h1>
        <h5 class="card-text">Best for Freelancers</h5>
    </div>
    <div class="card-body">
      <h1 class="card-title">₹420</h1>
      <h5 card="card-text">per month, billed monthly</h5>
      <a href="/"><button type="button" name="button" class="btn cardbtn btn-outline-dark">Start with Premium</button></a>
      <p card="card-text"><i class="fas fa-check"></i>Remove Blogr.com Ads</p>
      <p card="card-text"><i class="fas fa-check"></i>Unlimited Email Support</p>
      <p card="card-text"><i class="fas fa-check"></i>Live Chat Support</p>
      <p card="card-text"><i class="fas fa-check"></i>Google analytics integration</p>
      <p card="card-text"><i class="fas fa-check"></i>Earn ad revenue</p>
      <p card="card-text"><i class="fas fa-check"></i>Premium themes</p>
      <p card="card-text"><i class="fas fa-xmark"></i>Advanced SEO</p>
      <p card="card-text"><i class="fas fa-xmark"></i>Jetpack Backup: automated backups & one-click restores</p>
    </div>
  </div>
  <div class="card col-md-4 col-sm-12 col-12 card3" style="width: 18rem;">
    <div class="card-header">
        <h1 class="card-title">Ultra-Premium</h1>
        <h5 class="card-text">Best for mid to large enterprises</h5>
    </div>
    <div class="card-body">
        <h1 class="card-title">₹800</h1>
        <h5 card="card-text">per month, billed monthly</h5>
        <a href="/"><button type="button" name="button" class="btn cardbtn btn-outline-dark">Start with Ultra-Premium</button></a>
        <p card="card-text"><i class="fas fa-check"></i>Remove Blogr.com Ads</p>
        <p card="card-text"><i class="fas fa-check"></i>Unlimited Email Support</p>
        <p card="card-text"><i class="fas fa-check"></i>Live Chat Support</p>
        <p card="card-text"><i class="fas fa-check"></i>Google analytics integration</p>
        <p card="card-text"><i class="fas fa-check"></i>Earn ad revenue</p>
        <p card="card-text"><i class="fas fa-check"></i>Premium themes</p>
        <p card="card-text"><i class="fas fa-check"></i>Advanced SEO</p>
        <p card="card-text"><i class="fas fa-check"></i>Jetpack Backup: automated backups & one-click restores</p>
    </div>

    </div>
      </div>

</section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
